{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel='stylesheet' href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <h1>Welcome to relative url templates</h1>
    <a href="{% url 'basic_app:other'%}">The other page</a>
    <a href="{% url 'admin:index'%}">Admin</a>
</body>
</html>